[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/upenderreddysama
[access "refs/for/refs/*"]
	read = group user/upenderreddysama
	push = group user/upenderreddysama
	label-Code-Review = -2..+2 group user/upenderreddysama
	label-Verified = -1..+1 group user/upenderreddysama
	rebase = group user/upenderreddysama
	removeReviewer = group user/upenderreddysama
	submit = group user/upenderreddysama
[access "refs/heads/*"]
	read = group user/upenderreddysama
	create = group user/upenderreddysama
	push = +force group user/upenderreddysama
	pushMerge = group user/upenderreddysama
[access "refs/tags/*"]
	push = group user/upenderreddysama
	push = +force group user/upenderreddysama
